/* Styling for the entire document */
body
{
  font-family: "Source Code Pro", monospace; /* Use Google Font for modern monospace look */
  font-size: 16px; /* Set a base font size */
  line-height: 2; /* Increase line height for better readability */
  color: #33ff33; /* Classic green color for the text */
  background-color: #131313; /* Set black as background for the "hacky" appearance */
}

/* Styling for main heading */
h1
{
  font-size: 2.0rem; /* Set a larger font size for main headings */
  text-align: center; /* Align the main heading to the center */
  text-shadow: 3px 3px 5px rgba(0, 204, 0, 0.7); /* Add a drop shadow effect for emphasis */
}

/* Styling for sub-heading */
h2
{
  font-size: 1.6rem; /* Set a moderate font size for sub-headings */
  font-weight: 600; /* Make it slightly bolder for differentiation */
  text-transform: uppercase; /* Convert text to uppercase for visual prominence */
}

/* Styling for sub-sub-heading */
h3
{
  font-size: 1.2rem; /* A size that's between h2 and p for differentiation */
}

/* Styling for paragraph */
p
{
  font-size: 0.8rem; /* Set a font size for paragraphs */
}

/* Styling for hyperlinks */
a
{
  text-decoration: none; /* Removing default underline from links */
  color: #66ff66; /* A slightly lighter shade for links for better distinction */
}

/* Styling for list items */
li
{
  font-size: 0.8rem; /* Set the same font size as paragraphs */
}

/* Styling for table */
table
{
  font-size: 0.8rem; /* Set the same font size as paragraphs */
}

/* Styling for form */
form
{
  font-size: 0.8rem; /* Set the same font size as paragraphs */
}
